<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ll.blog.dao.CategoryInfoMapper">
  <resultMap id="BaseResultMap" type="com.ll.blog.entity.CategoryInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="number" jdbcType="TINYINT" property="number" />
    <result column="create_by" jdbcType="TIMESTAMP" property="createBy" />
    <result column="modified_by" jdbcType="TIMESTAMP" property="modifiedBy" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from category_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ll.blog.entity.CategoryInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into category_info (`name`, `number`, create_by, 
      modified_by)
    values (#{name,jdbcType=VARCHAR}, #{number,jdbcType=TINYINT}, #{createBy,jdbcType=TIMESTAMP}, 
      #{modifiedBy,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ll.blog.entity.CategoryInfo">
    update category_info
    set `name` = #{name,jdbcType=VARCHAR},
      `number` = #{number,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, `name`, `number`, create_by, modified_by
    from category_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `name`, `number`, create_by, modified_by
    from category_info
  </select>
</mapper>